@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: #8e3d4c;
  background-color: #fea646;
  border: 2px solid;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 700;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px orange, -2px -2px orange, -2px 2px orange,
    2px -2px orange;
}

p {
  text-align: center;
  background-color: #fff9;
  color: black;
  padding: 15px;
  border-radius: 15px;
}

.app {
  min-height: 100vw;
  background-position: center;
  background-size: cover;
}

.container {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 95vh;
}
.container h1 {
  font-size: 50px;
}
.btnRandom {
  font-size: 20px;
}
.phraseAuthor {
  min-height: 55vh;
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 25px;
}
